[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
elasticsearch = "*"
django = "*"
xlsxwriter = "*"
pyarrow = "*"
urllib3 = "*"
numpy = "*"
openpyxl = "*"
easygui = "*"
global-state = "*"

[dev-packages]

[requires]
python_version = "3"
