*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --box-height: 700px;
    --box-width: 900px;
}
body{
    background-color: #080710;
}

.background{
    height: var(--box-height);
    width: var(--box-width);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background: transparent;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #00eeff,
        #0004ff
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -80px;
    bottom: -80px;
}

.shape2:first-child{
    height: 100px;
    width: 100px;
    left: -50px;
    top: -50px;
}
.shape2:last-child{
    height: 100px;
    width: 100px;
    right: -50px;
    bottom: -50px;
}
.shape3:first-child{
    height: 70px;
    width: 70px;
    /* left: -465px;
    top: -105px; */
}

.shape3:last-child{
    height: 70px;
    width: 70px;
    /* right: -465px;
    bottom: -105px; */
}

.transparent-box {
    height: var(--box-height);
    width: var(--box-width);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.13);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 20px;
}
.logout{
    text-align: right;
    font-size: 16px;
    text-decoration: none;
}

.logout:hover{
  color: gray;
}

.fas{
    color: #ffffff;
}

.logout-logo{
  height: 20px;
  width: 20px;
  color: white;
}
/*
::-webkit-calendar-picker-indicator {
    filter: invert(1);
} */

.outer-wrapper{
  width: 1100px;
  margin: 20px;
  border-radius: 5px;

}

.table-wrapper{
  max-height: 500px;
  width: 1100px;
  overflow-y: scroll;
  max-width: fit-content;
  margin: 20px;
}


table{
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 0;
  min-width: max-content;
}

th{
  position: sticky;
  top: 0px;
  background-color: black;
}

th, td{
  border: 1px solid black;
  padding: 10px;
  color: white;
  max-width: fit-content;
}

.even{
  background-color: #303845;
}

form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.bg-box{
  height: 680px;
  width: 1300px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

.form2{
    height: var(--box-height);
    width: var(--box-width);
    padding-top: 30px;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form h4{
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;

}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 30px;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

h2{
    color: white;

}
